<a href="https://colab.research.google.com/github/ToobaFayyaz55/AI_Baithak/blob/main/Python_Custom_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PART 1 : Check if a number is even or odd.

    Parameters:
    num (int): The number to check.

    Returns:
    str: 'is an even no' if the number is even, 'is an odd no' if it's odd.

In [ ]:
def even_odd(num):
    if no % 2 == 0:
        return "is an even no"
    else:
        return "is an odd no"
no=int(input("Enter a no."))
print(no, even_odd(no))

Enter a no.5
5 is an odd no

PART 2:
    Find the minimum and maximum numbers in a sequence (list).

    Parameters:
    nums (list): A list of numbers.

    Returns:
    tuple: A tuple containing the minimum and maximum numbers.

In [ ]:
def min_max(nums):
    return min(nums), max(nums)

no = [2, 5, 44, 85, 11, 54, 14]
min_no , max_no = min_max(no)
print("Minimum number:", min_no)
print("Maximum number:", max_no)

Minimum number: 2
Maximum number: 85

 PART 3  : Convert temperature from Celsius to Fahrenheit.

    Parameters:
    celsius (float): Temperature in Celsius.

    Prints:
    float: Temperature converted to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    print(celsius,"degrees Celsius is equal to",fahrenheit,"degrees Fahrenheit.")

celsius = float(input("Enter temperature in Celsius: "))
celsius_to_fahrenheit(celsius)

Enter temperature in Celsius: 34.6
34.6 degrees Celsius is equal to 94.28 degrees Fahrenheit.

PART 3(b) : Convert temperature from Fahrenheit to Celsius.

    Parameters:
    fahrenheit (float): Temperature in Fahrenheit.

    Prints:
    float: Temperature converted to Celsius.

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    print(fahrenheit,"degrees fahrenheit is equal to",celsius,"degrees celsius.")
fahrenheit = float(input("Enter temperature in fahrenheit: "))
fahrenheit_to_celsius(fahrenheit)

Enter temperature in fahrenheit: 94.28
94.28 degrees fahrenheit is equal to 34.599999999999994 degrees celsius.

PART 4 : Generate the table of a given number up to a specified limit.

    Parameters:
    num (int): The number for which the table is generated.
    limit (int): The upper limit of the table (default is 10).

In [ ]:
def generate_table(num, limit):
  for i in range(1, limit+1):
    print(num,"*",i,'=',num*i)
no = int(input("enter no : "))
lim = int(input("enter limit : "))
generate_table(no, lim)

enter no : 5
enter limit : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

 PART 5 : Calculate the area of a circle.

    Parameters:
    radius (float): The radius of the circle.

    Returns:
    float: The area of the circle.

In [ ]:
def circle_area(radius):
  return 3.14159 * radius**2
rad = float(input("enter radius of circle : "))
print("Area of ",rad,'is',circle_area(rad))

enter radius of circle : 3.4
Area of  3.4 is 36.31678039999999

PART 6 : Calculate the factorial of a number.

    Parameters:
    n (int): The number for which the factorial is calculated.

    Returns:
    int: The factorial of the given number.

In [ ]:
def fact(n):
    fac=1
    if n==0 or n==1:
        return 1
    else:
        fac=n*fact(n-1)
        return fac
no = int(input("enter a no : "))
print("the factorial of",no,"is",fact(no))

enter a no:5
the factorial of 5 is 120

  PART 7 : Calculate the sum of a sequence (list) of numbers.

    Parameters:
    numbers (list): A list of numbers.

    Returns:
    int: The sum of the numbers in the sequence

In [ ]:
def seq_sum(numbers):
  return sum(numbers)
num = [1, 3, 5, 7, 9]
print("the sum of",num,'is',sum(num))

the sum of [1, 3, 5, 7, 9] is 25

PART 8 : Generate an ascending sequence of numbers from a given list.

    Parameters:
    numbers (list): A list of numbers.

    Returns:
    list: A list containing the numbers sorted in ascending order.

In [ ]:
def ascending_seq(numbers):
   return sorted(numbers)
num = [5, 2, 8, 1, 9, 3]
ascending_numbers = ascending_seq(num)
print("Original numbers:", num)
print("Ascending sequence:", ascending_numbers)

Original numbers: [5, 2, 8, 1, 9, 3]
Ascending sequence: [1, 2, 3, 5, 8, 9]

PART 8(b) : Generate a descending sequence of numbers from a given list.

    Parameters:
    numbers (list): A list of numbers.

    Returns:
    list: A list containing the numbers sorted in descending order.

In [ ]:
def descending_seq(numbers):
  return sorted(numbers, reverse=True)
num = [5, 2, 8, 1, 9, 3]
descending_numbers = descending_seq(num)
print("Original numbers:", num)
print("Descending sequence:", descending_numbers)

Original numbers: [5, 2, 8, 1, 9, 3]
Descending sequence: [9, 8, 5, 3, 2, 1]

 PART 9 : Calculate the sum of the first n positive integers.

    Parameters:
    n (int): The number of positive integers.

    Returns:
    int: The sum of the first n positive integers.

In [ ]:
def sum_of_positive_integers(n):
   return (n * (n + 1)) // 2
no = int(input("enter a no : "))
print("the sum is", sum_of_positive_integers(no))

enter a no : 5
the sum is 15

PART 10 : Perform linear search to find the index of a target element in a list.

    Parameters:
    arr (list): The list in which to search.
    target: The element to search for.

    Returns:
    int: The index of the target element if found, otherwise -1.

In [ ]:
def linear_search(arr, target):
  for i, num in enumerate(arr):
        if num == target:
            return i
  return -1
my_list = [4, 7, 2, 9, 1, 6]
target_element = 9
result = linear_search(my_list, target_element)
if result != -1:
    print(f"The target element {target_element} is found at index {result}.")
else:
    print(f"The target element {target_element} is not found in the list.")

The target element 9 is found at index 3.